.firstcolumn {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.main-post__image {
  width: 100%;
  object-fit: cover;
  display: block;
}

.main-post,
.description,
.comments {
  background: white;
}

.main-post__content {
  margin: 30px;
}

.main-post__title {
  font-size: 1.6rem;
  margin: 0;
}

.text2 {
  margin: 10px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Source Serif Pro";
  color: #727272;
}

.main-post__author-avatar {
  object-fit: cover;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.main-post__text {
  font-family: "Source Serif Pro";
}

.icons {
  border-top: 1px dashed rgb(212, 208, 208);
  stroke-dasharray: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  column-gap: 10px;
}

.description,
.comments {
  display: flex;
  flex-direction: column;
  padding: 20px 30px 30px 30px;
}

.description {
  row-gap: 30px;
}

.author__image,
.comment__avatar {
  grid-area: avatar;
  width: 100%;
  object-fit: cover;
}

.author__image {
  height: 100px;
}

.author__name,
.comment__name {
  grid-area: name;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}

.author__bio,
.comment__content {
  grid-area: content;
  font-family: "Source Serif Pro";
  color: #727272;
}

.description__content,
.comment {
  display: grid;
  grid-template-columns: 100px 1fr;
  column-gap: 20px;
  row-gap: 10px;
  grid-template-areas:
    "avatar name"
    "avatar content";
}

.comment {
  padding: 20px 0;
  border-bottom: 1px dashed rgb(212, 208, 208);
}

.comment__avatar {
  grid-area: avatar;
  width: 100%;
  object-fit: cover;
}

/* idk co tu sie dzieje ale musze to dac, nie mam czasu, zeby dluzej myslec nad tym */
.comment__name {
  display: flex;
  align-items: baseline;
}

.description__header,
.comments__title {
  align-self: center;
  display: inline-block;
  padding: 0 10px;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  color: black;
  border-bottom: 4px solid black;
}

.comment__date {
  font-size: 0.9rem;
  font-family: "Source Serif Pro";
  color: #727272;
}
