.navbar a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: "Source Serif Pro";
}

.navbar__list,
.navbar__list-right {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    display: inline-flex;
}

.navbar__item,
.navbar__item-right {
    position: relative;
    flex: auto;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

.navbar__search-container {
    position: relative;
}

.navbar__search-container::before {
    content: "";
    position: absolute;
    left: 5px;
    /* coz... tak na razie musi byc */
    bottom: -1px;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg class='svg-inline--fa fa-search fa-w-16' aria-hidden='true' focusable='false' data-prefix='fas' data-icon='search' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' data-fa-i2svg=''%3E%3Cpath fill='currentColor' d='M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z'%3E%3C/path%3E%3C/svg%3E");
}

.navbar__search {
    padding: 5px 5px 5px 30px;
}

.toggle-button {
    position: absolute;
    top: 0.6rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 15px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (min-width: 769px) {
    .navbar__links {
        background-color: black;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .navbar__mobile {
        display: none;
    }
    .navbar__link:active {
        background-color: green;
    }
    .navbar__item:hover {
        background-color: gray;
    }
}

@media (max-width: 768px) {
    .navbar__mobile {
        background-color: black;
        color: white;
        height: 35px;
    }
    .toggle-button {
        display: flex;
    }
    .item {
        padding: 0 0;
    }
    .navbar__links {
        display: none;
        width: 100%;
        flex-direction: column;
    }
    .navbar {
        align-items: flex-start;
        position: sticky;
    }
    .navbar__links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar__links li {
        text-align: center;
    }
    .navbar__links li a {
        font-size: 15px;
    }
    .navbar__links.active {
        display: flex;
    }
    .site-logo {
        display: none;
    }
    .site-logo-container {
        display: flex;
        justify-content: center;
        height: 30px;
        padding: 3px;
    }
}

.site-logo img {
    position: relative;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    padding: 15px;
}

.site-logo {
    margin: auto;
    background-color: white;
    height: 300px;
}

.searched {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: rgb(184, 184, 184) solid 1px;
    z-index: 1;
    background-color: white;
    position: absolute;
    width: 200px;
    max-height: 50vh;
    overflow-y: auto;
}

.searched--hidden {
    display: none;
}

.searched__more {
    cursor: pointer;
    height: 50px;
    border: none;
    width: 100%;
    display: block;
    padding: 10px;
    font-family: Oswald;
    font-weight: 600;
    font-size: 110%;
    background: black;
    color: white;
}

.searched__feedback {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fc7c57;
    font-size: 120%;
}

.searched__feedback--hidden {
    display: none;
}

.searched__more--hidden {
    display: none;
}

.searched-post {
    text-align: left;
    color: black;
    padding: 5px;
    border-bottom: rgb(184, 184, 184) 1px solid;
}

.searched-post:last-child {
    border-bottom: none;
}

.searched-post:hover {
    cursor: pointer;
    background: #fc7c57;
    color: white;
}

.searched-post:hover .searched-post__author-avatar {
    border-color: white;
}

.searched-post__author {
    margin-top: 5px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    column-gap: 5px;
}

.searched-post__author-avatar {
    height: 50px;
    border: #fc7c57 solid 1px;
    border-radius: 50%;
}