body {
	background-color: #d9d9d9;
	margin: 0px;
	font-family: Roboto Condensed;
}

.imgs .imgs_kafelek {
	float: left;
	width: 25%;
	height: 550px;
	background-color: white;
	position: relative;
	display: grid;

}

.imgs .imgs_kafelek:hover {

	background-color: orange;
	color: white;
}

.imgs_border {

	border-left: 1px solid #ededed;
	border-right: 1px solid #ededed;
	width: 100%;
	height: 150px;
	cursor: pointer;
	box-sizing: border-box;
	position: relative;
	padding-top: 15px;

	text-align: center;
	justify-content: center;
	font-weight: 600;
	font-size: 170%;
}

.imgs_bottext {
	height: 40%;
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	/*margin-top: 35px;*/
	font-size: 80%;
	border-top: 1px solid red;
}

.imgs_kafelek:hover>.imgs_border>.imgs_bottext {
	border-top: 1px solid white;
}



.imgs_img {
	height: 400px;
	object-fit: cover;
	clip-path: polygon(50% 95%, 55% 100%, 100% 100%, 100% 0, 0 0, 0 100%, 45% 100%);
	cursor: pointer;
}