body {
	background-color: #d9d9d9;
	margin: 0px;
	font-family: Oswald;
}

/*POCZĄTEK NAVBARA*/
.navbar {
	background-color: black;
	width: 100%;
	overflow: hidden;
}

.navbar a {
	float: left;
	text-align: center;
	padding: 12px;
	color: white;
	text-decoration: none;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
}

.navbar a:hover {
	background-color: white;
	color: black;
}

.navbar a:active {
	background-color: green;
}

@media screen and (max-width: 600px) {
	.navbar a {
		float: none;
		display: block;
	}

	.navbar-right {
		float: none;
		display: block;
	}
}

@media screen and (min-width: 600px) {
	.navbar-right {
		float: right;
	}
}

.logo img {
	position: relative;
	left: 50%;
	top: 30%;
	transform: translateX(-50%);
	width: 15%;
	padding: 15px;
}

.logo {
	margin: auto;
	background-color: white;
	height: 300px;
}

/*KONIEC NAVBARA*/
/*POCZĄTEK SEKCJI FIT*/
.imgs .imgs_kafelek {
	display: flex;
	float: left;
	width: 25%;
	height: 550px;
	background-color: white;
	position: relative;
	display: grid;
	margin-bottom: 25px;

}

.imgs .imgs_kafelek:hover {

	background-color: #fc7c57;
	color: white;
	transition: all 200ms linear;
}

.imgs_border {

	border-left: 1px solid #ededed;
	border-right: 1px solid #ededed;
	width: 100%;
	height: 150px;
	cursor: pointer;
	box-sizing: border-box;
	position: relative;
	padding-top: 15px;
	text-align: center;
	justify-content: center;
	font-size: 170%;
}

.imgs_bottext {
	height: 40%;
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	/*margin-top: 35px;*/
	font-size: 80%;
	border-top: 1px solid red;
}

.imgs_kafelek:hover>.imgs_border>.imgs_bottext {
	border-top: 1px solid white;
}



.imgs_img {
	height: 400px;
	object-fit: cover;
	clip-path: polygon(50% 95%, 55% 100%, 100% 100%, 100% 0, 0 0, 0 100%, 45% 100%);
	cursor: pointer;
}

/*KONIEC SEKCJI FIT*/

.main {
	margin-left: auto;
	margin-right: auto;
	width: 78%;

}

.main .firstcolumn {
	display: flex;
	flex-direction: column;
	float: left;
}

.main .secondcolumn {
	display: flex;
	flex-direction: column;
	float: left;
}

/*POCZĄTEK BOCZNYCH KAFELKÓW */
.main .sidedivs {
	width: 400px;
}

.main .aboutme {
	position: relative;
	float: left;
	height: 385px;
	width: 400px;
	background-color: white;
	margin: 25px 0px 25px 0px;
	padding-bottom: 25px;
}

.main .aboutme_header {
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	height: 25px;
	width: 90px;
	/*background-color: grey;*/
	font-size: 120%;
	font-weight: 600;
	text-align: center;
	border-bottom: 4px solid black;
}

.main .aboutme_main {
	width: 330px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.main .aboutme_footer {
	width: 285px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 10px;
	text-align: center;
	font-style: italic;
}

.main .subscribe {
	position: relative;
	float: left;
	height: 270px;
	width: 400px;
	background-color: #fc7c57;
	margin: 0px 0px 25px 0px;
}

.main .subscribe_header {
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	padding-bottom: 5px;
	height: 25px;
	width: 100px;
	/*background-color: grey;*/
	font-size: 130%;
	text-align: center;
	border-bottom: 4px solid white;
	color: white;
}

.main .subscribe_main {
	width: 330px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	font-size: 130%;
	color: white;
	font-weight: 300;
}
.main .subscribe_submit:hover
{
	
		
}

.main .subscribe_mail_and_submit input,
.main .subscribe_mail_and_submit textarea {
	display: block;
	width: 100%;
	max-width: 315px;
	padding: 5px;
	font-size: 18px;
	border: 1px solid gray;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.main .subscribe_submit {
	background-color: black;
	color: white;
	display: block;
	width: 100%;
	max-width: 327px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	cursor: pointer;
	font-weight: 600;
	font-size: 110%;
	font-family: Oswald;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	  -o-transition: all 0.2s ease;
	 -ms-transition: all 0.2s ease;
		 transition: all 0.2s ease;
	
}

.main .popularposts {
	position: relative;
	float: left;
	height: 445px;
	width: 400px;
	background-color: white;
	margin-bottom: 25px;

}

.main .popularposts_header {
	text-align: center;
	font-size: 120%;
	width: 130px;
	height: 25px;
	display: block;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	padding-bottom: 5px;
	border-bottom: 4px solid black;
	font-weight: 600;
}

.main .popularposts_content {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	height: 300px;
	width: 330px;
}

.main .popularposts_content .popularposts_img {
	margin-right: 5px;
	width: 330px;
	height: 110px;
	display: flex;
	margin-bottom: 10px;


}

.main .popularposts_content .popularposts_text {
	height: 70px;
	width: 179px;
	font-weight: 600;
	font-size: 100%;
	margin-left: 10px;
	margin-bottom: 5px;
}

.main .popularposts_content .popularposts_text_footer {
	height: 30px;
	font-size: 90%;
	margin-left: 10px;
	margin-top: 10px;
}

.main .popularposts_content .popularposts_posted {
	width: 60px;
	height: 25px;
	display: inline;
	font-style: italic;
	color: #fc7c57;
	font-family: 'Source Serif Pro';
}

.main .popularposts_content .popularposts_date {
	width: 80px;
	height: 25px;
	display: inline;
	font-style: italic;
	color: gray;
	font-family: 'Source Serif Pro';
}



.main .popularposts_content .popularposts_content_header {
	display: block;
	float: left;
	font-size: 110%;
	font-weight: 600;
	width: 190px;

}

.main .slideads {
	position: relative;
	float: right;
	margin: 0px 0px 25px 0px;
	height: 425px;
	width: 400px;
	background-color: white;

}

.main .slideads_header {
	margin: 15px auto 15px auto;
	width: 95px;
	height: 30px;
	text-align: center;
	border-bottom: 4px solid black;
	font-size: 130%;
	font-weight: bold;
}

.main .slideads_main {
	margin-left: auto;
	margin-right: auto;
	width: 330px;
	height: 320px;

}

.main .category {
	position: relative;
	float: right;
	margin: 0px 0px 25px 0px;
	height: 370px;
	width: 400px;
	background-color: white;
}

.main .category_header {
	text-align: center;
	font-size: 120%;
	width: 90px;
	height: 25px;
	display: block;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	padding-bottom: 5px;
	border-bottom: 4px solid black;
	font-weight: 600;
}

.main .category_content {
	margin-left: auto;
	margin-right: auto;
	width: 330px;
	height: 320px;
	color: black;
	font-family: 'Source Serif Pro';
	font-style: italic;
}

.li::before {
	content: "→";
	list-style-type: none;
	margin-right: 10px;
	margin-left: -30px;
}

.ul {
	list-style-type: none;
}

.a.link {
	text-decoration: none;
	color: #fc7c57;
}

.link {
	text-decoration: none;
	color: #fc7c57;
}


/* KONIEC BOCZNYCH KAFELKOW */
/* TU ZACZYNA SIE MAIN POST */
.mainpostdiv {
	width: 600px;

	clear: both;
	height: 770px;
	background-color: white;
	display: flex;
	font-family: Oswald;
	margin: 25px 25px 0px 25px;
}

.zdj1 {
	position: relative;
}

.text {
	text-align: center;
	color: grey;
	margin: 10px;

}

.text1 {
	font-weight: 1500;
	text-align: center;
	margin: 10px;
}

.text2 {
	color: grey;
	margin: 20px;	
	display: flex;
	justify-content: center;
	align-items: center;

}

.text3 {
	text-align: center;
	margin: 10px;
	padding: 15px;
}

.stopkapostu {

	border-top: 2px dotted gray;

}

.ikony {
	font-size: 30px;
	margin: 30px;
	text-align: center;

}

/* KONIEC MAINPOST */
/* css do bottom jagby ktos pytal */



.photos1 {
	text-align: center;
}

.img1 {
	display: inline-block;
	margin: 18px 15px;

}

hr {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}

.downtext2 {
	font-size: 30;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	background-color: white;
	padding-bottom: 60px;
	margin: 0px 0px;
}

span.behance {
	color: #fc7c57;
}

.button1 {
	display: inline-flex;
	border-color: none;
	border-radius: 50px;
	border: none;
	padding: none;
	outline: none;
	overflow: hidden;
	font-weight: 0;
	margin: 8px;
	margin-bottom: 25px;
}

.button1:hover {
	background-color: #fc7c57;
	color: white;
	cursor: pointer;
	transition: all 200ms linear;
}

.button1:active {
	background-color: #fc7b57a2
}

.button__icon {
	display: inline-flex;
	align-items: center;
	padding: 11px 7px;
	font-size: 22px;
}

.buttons {
	text-align: center;
}

.a1 {
	all: unset;
}

.footer {
	clear: both;
	background-color: white;
}

.uptext {
	margin-top: 30px;
	padding-top: 34px;
	font-size: 30;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	background-color: white;



}

/* newerpost olderpost / przenoszenie pod ostatnia kolumną */
.spacebetween {
	margin-left: 33px;
	margin-top: 15px;
	margin-bottom: 40px;
	width: 89%;

}

.newerpost {
	display: flex;
	float: left;
	font-size: 15px;
}

.olderpost {
	display: flex;
	float: right;
	font-size: 15px;
}

.anewer {
	all: unset;
}

.anewer:hover {
	color: #fc7c57;
	cursor: pointer;
	transition: all 200ms linear;
}

.aolder {
	all: unset;
}

.aolder:hover {
	color: #fc7c57;
	cursor: pointer;
	transition: all 200ms linear;
}

.anewer:active {
	color: #fa3600c7;
}

.aolder:active {
	color: #fa3600c7;
}
.icon
{
	border-radius: 50%;
	background-color: #F5F5F5;
	width: 50px;
	height: 50px;
	display: block;
	position: relative;
	margin-left: 15px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	  -o-transition: all 0.5s ease;
	 -ms-transition: all 0.5s ease;
		 transition: all 0.5s ease;
	
}
.icon:before
{
	top: 50%;
	position: absolute;
	margin-left: 0 !important;
	left: 50%;
	transform: translate(-50%, -50%);
}
.ikony
{
	display: flex;
	justify-content:center;
	align-items: center;
}
.icon:hover
{
	background-color: #fc7c57;
	color: white;
	transition: all 200ms linear;
	transform: scale(1);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1);
    z-index: 0;
}
.icon:active {
	transform: scale(1);
    -webkit-transform: scale(0.1);
    -moz-transform: scale(1);
    z-index: 0;

  }
  
