.imgs {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
}

.imgs .imgs_tile {
    width: 25%;
    height: 570px;
    background-color: white;
    position: relative;
    display: inline-block;
    

}

.imgs .imgs_tile:hover {
    background-color: #fc7c57;
    color: white;
    transition: all 200ms linear;
}

.imgs_border {
    margin: 0;
    width: 100%;
    height: 120px;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    padding-top: 15px;
    text-align: center;
    justify-content: center;
    font-size: 23px;
    border-left: 1px rgba(226, 218, 218, 0.767) solid; 
}

.imgs_bottext {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Source Serif Pro";
    font-size: 60%;
    font-style: italic;
    
}

.imgs_tile:hover>.imgs_border>.imgs_header {
    border-bottom: 1px solid white;
}

.imgs_img {
    height: 450px;
    object-fit: cover;
    clip-path: polygon( 50% 95%, 55% 100%, 100% 100%, 100% 0, 0 0, 0 100%, 45% 100%);
    cursor: pointer;
    width: 100%;
    
}

.imgs_header {
    width: 70%;
    height: 45%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid red;
    text-transform: uppercase;
    margin-bottom: 5px;
    
}


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/*rwd basic*/

@media screen and (max-width: 1440px) {
    .imgs .imgs_tile {
        height: 470px;
    }
    .imgs_border {
        font-size: 20px;
    }
    .imgs_img {
        height: 350px;
    }
}

@media screen and (max-width: 1024px) {
    .imgs .imgs_tile {
        height: 440px;
    }
    .imgs_border {
        font-size: 15px;
        height: 90px;
    }
}

@media screen and (max-width: 768px) {
    .imgs .imgs_tile {
        height: 420px;
    }
    .imgs_img {
        height: 300px;
    }
    .imgs_border {
        height: 120px;
    }
}

@media screen and (max-width: 425px) {
    .imgs .imgs_tile {
        width: 50%;
        height: 360px;
    }
    .imgs_img {
        height: 250px;
    }
    .imgs_border {
        font-size: 15px;
        height: 110px;
    }
}

@media screen and (max-width: 375px) {
    .imgs .imgs_tile {
        width: 100%;
        height: 370px;
        background-color: white;
        position: relative;
        display: inline-block;
    }
    .imgs_img {
        height: 260px;
    }
    .imgs_border {
        font-size: 17px;
    }
    .imgs_bottext {
        font-size: 80%;
    }
    .imgs_border {
        border-left: 0; 
    }
}

@media screen and (max-width: 320px) {
    .imgs .imgs_tile {
        width: 100%;
        height: 375px;
    }
    .imgs_img {
        height: 260px;
    }
    .imgs_border {
        font-size: 17px;
    }
    .imgs_bottext {
        font-size: 80%;
    }
}