                        .photos {
                        text-align: center;
                        margin-top: 30px;
                    }
                    
                    .carousel-cell {
                        display: inline-block;
                        margin: 0px 0px;
                        width: 0%;
                        height: 0px;
                    }
                    
                    .photos__element {
                        display: inline-block;
                        margin: 18px 20px;
                    }
                    
                    .photos__element:hover {
                        transition: all 150ms linear;
                        transform: scale(1);
                        -webkit-transform: scale(1.1);
                        -moz-transform: scale(1);
                        z-index: 1;
                    }
                    
                    .carousel-cell:hover {
                        transition: all 150ms linear;
                        transform: scale(1);
                        -webkit-transform: scale(1.1);
                        -moz-transform: scale(1);
                        z-index: 1;
                    }
                    
                    .main-carousel {
                        z-index: -1;
                        width: 0;
                    }
                    
                    .downtext {
                        font-size: 30;
                        text-align: center;
                        font-family: "Oswald", sans-serif;
                        font-weight: bold;
                        padding-bottom: 60px;
                    }
                    
                    span.behance {
                        color: #fc7c57;
                    }
                    
                    .buttons {
                        text-align: center;
                    }
                    
                    .footer {
                        clear: both;
                        background-color: white;
                        margin: 0;
                        width: 100%;
                        text-align: center;
                    }
                    
                    .uptext {
                        margin-top: 30px;
                        padding-top: 30px;
                        font-size: 30;
                        text-align: center;
                        font-family: "Oswald", sans-serif;
                        font-weight: bold;
                        margin-bottom: 15px;
                    }
                    
                    .copyright__container {
                        border-top: 1px black solid;
                    }
                    
                    @media screen and (max-width: 1350px) {
                        .carousel-cell {
                            display: inline-block;
                            margin: 18px 20px;
                            width: 20%;
                            height: 300px;
                        }
                        .main-carousel {
                            z-index: 1;
                            width: 100%;
                        }
                        .photos {
                            z-index: -1;
                            width: 0;
                            height: 0;
                        }
                        .photos__element {
                            display: inline-block;
                            margin: 0px 0px;
                            width: 0%;
                            height: 0px;
                        }
                        @media screen and (max-width: 1900px) {
                            .photos {
                                width: 10%;
                            }
                        }
                        @media screen and (max-width: 1100px) {
                            .carousel-cell {
                                display: inline-block;
                                margin: 18px 20px;
                                width: 30%;
                                height: 300px;
                            }
                        }
                        @media screen and (max-width: 900px) {
                            .carousel-cell {
                                display: inline-block;
                                margin: 18px 20px;
                                width: 35%;
                                height: 270px;
                            }
                        }
                        @media screen and (max-width: 700px) {
                            .carousel-cell {
                                display: inline-block;
                                margin: 18px 15px;
                                width: 40%;
                                height: 250px;
                            }
                        }