.login__container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgb(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__container--hidden {
  display: none;
}

.login {
  display: flex;
  flex-direction: column;
  /* row-gap: 10px; */
  padding: 10px;
  background: #fc7c57;
}

.login__title {
  color: white;
  font-size: 200%;
}

.login__email,
.login__password,
.login__submit {
  height: 50px;
  margin-top: 10px;
  box-sizing: border-box;
  font-size: 110%;
}

.login__submit {
  cursor: pointer;
  background: black;
  color: white;
  border: none;
  font-family: "Oswald";
  font-size: 110%;
}

.login__password,
.login__email {
  padding: 10px;
}

.login__feedback--hidden {
  display: none;
}
