.main {
  margin: 30px;
  display: grid;
  grid-template-columns: 800px 300px;
  column-gap: 30px;
  justify-content: center;
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.main .secondcolumn {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .main {
    margin: 20px;
    column-gap: 20px;
    grid-template-columns: 700px 250px;
  }
}

@media (max-width: 1050px) {
  .main {
    margin: 20px;
    column-gap: 20px;
    grid-template-columns: 600px 200px;
  }
}

@media (max-width: 900px) {
  .main {
    margin: 30px;
    row-gap: 30px;
    grid-template-columns: 1fr;
  }
}
