.main {
	margin-left: auto;
	margin-right: auto;
	width: 78%;

}

.main .firstcolumn {
	display: flex;
	flex-direction: column;
	float: left;
}

.main .secondcolumn {
	display: flex;
	flex-direction: column;
	float: left;
}