.slideads,
.aboutme,
.subscribe,
.popularposts,
.categories {
  box-sizing: border-box;
  row-gap: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: white;
}

.subscribe {
  background: #fc7c57;
}

.slideads__img,
.aboutme__img {
  /* max-width: 300px; */
  width: 100%;
}

.slideads__header,
.aboutme__header,
.subscribe__header,
.popularposts__header,
.categories__header {
  padding: 0 10px;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  color: black;
  border-bottom: 4px solid black;
}

.subscribe__header {
  color: white;
  border-bottom: 4px solid white;
}

.aboutme__footer {
  font-size: 0.9rem;
  line-height: 1.5rem;
  text-align: center;
  font-family: "Source Serif Pro";
  font-style: italic;
}

.subscribe__main {
  font-family: "Source Serif Pro";
  line-height: 1.5rem;
  font-size: 0.9rem;
  color: white;
}

.subscribe__input {
  margin-top: 10px;
  display: block;
  width: 100%;
  height: 40px;
  border: none;
  font-size: 0.9rem;
  font-family: "Source Serif Pro";
  padding-left: 10px;
  box-sizing: border-box;
}

.subscribe__button {
  margin-top: 10px;
  display: block;
  width: 100%;
  border: none;
  background: black;
  color: white;
  font-weight: 700;
  font-size: 0.9rem;
  padding-left: 10px;
  margin-bottom: 10px;
  height: 40px;
  font-family: Oswald;
}

.popularposts__content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}

.popularpost {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
}

.popularpost__img {
  display: block;
  height: 120px;
  width: 100%;
  object-fit: cover;
}

.popularpost__content {
  position: relative;
}

.popularpost__title {
  font-size: 1rem;
  font-weight: 500;
}

.popularpost__paragraph {
  font-size: 0.8rem;
  font-family: "Source Serif Pro";
  font-style: italic;
  position: absolute;
  color: #727272;
  bottom: 0;
}

.categories__content {
  list-style-position: inside;
  align-self: flex-start;
}

.category {
  font-size: 0.8rem;
  margin-top: 10px;
}

.category:first-child {
  margin: 0;
}

.category::marker {
  content: "➜";
}

.category__link {
  margin-left: 10px;
}

@media (max-width: 1050px) {
  .popularpost {
    row-gap: 10px;
    flex-direction: column;
    display: flex;
  }
  .popularpost__paragraph {
    margin-top: 5px;
    position: relative;
  }
}
