* {
  margin: 0;
  padding: 0;
}
*,
::after ::before {
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  background-color: #d9d9d9;
  margin: 0px;
  font-family: Oswald;
}
.orange {
  color: #fc7c57;
}
