@media (min-width: 501px){
.site-nav__links {
	background-color: black;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}}

.site-nav a {
	text-align: center;
	color: white;
	text-decoration: none;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
}

.site-nav__list,
.site-nav__list__right {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: black;
	display: inline-flex;
}

.site-nav__item,
.site-nav__item__right {
	flex: auto;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
}

.site-nav__item:hover {
	background-color: gray;
}

.site-nav__link:active {
	background-color: green;
}

@media (min-width: 501px) {
.abcd {
	display: none;
}}

@media (max-width: 500px) {
.abcd {
	background-color: black;
	color: white;
	height: 22px;
}}

.toggle-button {
	position: absolute;
	top: .75rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 15px;
}

.toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
}

@media (max-width: 500px) {
	.toggle-button {
		display: flex;
	}

	.site-nav__links {
		display: none;
		width: 100%;
	}

	.site-nav {
		flex-direction: column;
		align-items: flex-start;
	}

	.site-nav__links ul {
		width: 100%;
		flex-direction: column;
	}

	.site-nav__links li {
		text-align: center;
	}

	.site-nav__links li a {
		padding: .5rem 1rem;
	}

	.site-nav__links.active {
		display: flex;
	}
}

.logo img {
	position: relative;
	left: 50%;
	top: 30%;
	transform: translateX(-50%);
	width: 15%;
	padding: 15px;
}

.logo {
	margin: auto;
	background-color: white;
	height: 300px;
}
