.site-nav {
	background-color: black;
	width: 100%;
	overflow: hidden;
}

.site-nav a {
	text-align: center;
	color: white;
	text-decoration: none;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
}

.site-nav__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: black;
}

.site-nav__item,
.site-nav__item__right {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.site-nav__item:hover {
	background-color: gray;
}


.site-nav__link:active {
	background-color: green;
}

@media screen and (max-width: 600px) {
	.site-nav__item,
	.site-nav__item__right {
	float: none;
	}
}

@media screen and (min-width:600px) {
	.site-nav__item__right {
	float: right;
	}
}

.logo img {
	position: relative;
	left: 50%;
	top: 30%;
	transform: translateX(-50%);
	width: 15%;
	padding: 15px;
}

.logo {
	margin: auto;
	background-color: white;
	height: 300px;
}
