.aboutme {
    display: flexbox;
    background-color: white;
    flex-direction: column;
    width: 60vw;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.aboutme__header {
    background-image: url("../img/backgroundblur.png");
    height: 550px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutme__author {
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fc7c57;
}

.aboutme__main {
    text-align: center;
    width: 100%;
    margin: auto;
}

.aboutme__main h2 {
    font-weight: bold;
    text-decoration: underline black;
}

.aboutme__main h2 {
    padding: 25px;
}

.aboutme p {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding: 10px 20px 40px;
}

.aboutme__footer {
    border-top: dotted .5px grey;
    width: 100%;
    margin: auto;
    padding: 20px;
}

.aboutme__footer a {
    display: flex;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    color: black;
    column-gap: 15px;
    height: 40px;
    display: inline-block;
}

.icons {
    align-items: center;
    font-size: 20px;
    text-align: center;
    justify-content: space-evenly;
    color: black;
}

.icon {
    border-radius: 50%;
    background-color: #F5F5F5;
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
    justify-content: center;
    margin-left: 15px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;
    color: black;
}

.icon:before {
    top: 50%;
    position: absolute;
    margin-left: 0 !important;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon:hover {
    background-color: #fc7c57;
    color: white;
    transition: all 200ms linear;
    transform: scale(1);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1);
    z-index: 0;
}

.icon:active {
    transform: scale(1);
    -webkit-transform: scale(0.1);
    -moz-transform: scale(1);
    z-index: 0;
}

.aboutme__footer .icon {
     width: 40px;
     height: 40px;
}