.aboutme {
    display: flexbox;
    background-color: white;
    flex-direction: column;
    width: 60vw;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.aboutme__header {
    margin: auto;
}

.aboutme__header img {
    width: 100%;
}

.aboutme__main {
    text-align: center;
    width: 100%;
    margin: auto;
}

.aboutme__main h2 {
    font-weight: bold;
    text-decoration: underline black;
}

.aboutme__main h2 {
    padding: 25px;
    font-weight: bold;
}

.aboutme p {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    padding: 10px 20px 40px;
}

.aboutme__footer {
    border-top: dotted .5px grey;
    width: 100%;
    margin: auto;
    padding: .5rem;
    display: inline-block;
    padding: 20px;
}
.aboutme__footer a {
    margin: auto;
}