@media screen and (max-width: 850px) {
    header, main, footer, .aboutme{
        width: 100%;
    }
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    background-color: #d9d9d9;
    font-family: 'Oswald';
}
