body{ 
    background-color: #d9d9d9;
	font-family: 'Oswald';
}
.description{
    background-color: white;
    margin:20px 100px;
    width: 60%;
    display: inline-block;
}
.description header h2{
    text-align: center;
    text-decoration: underline 4px;
    margin: 20px;
    padding:5px;
    font-size:24px;   
}
.description .profile{
    display:inline-block;
    margin:15px;
}
.description .nickname{
    padding:0px;
    margin-left:58px;
    font-size:24px;
}
.description .content{
    font-size: 17px;
    color:hsl(0, 1%, 51%);
    padding: 5px;
    margin-left:58px;
}
.description img{
    width:16%;
}
.comment{
    background-color: white;
    margin:30px 100px;
    width: 60%;
    display: inline-block;
}
.comment header h2{
    text-align: center;
    text-decoration: underline 4px;
    margin: 20px;
    padding:5px;
    font-size:24px;   
}
.comment .profile{
    display:inline-block;
    margin:15px;
}
.comment .nickname{
    padding:0px;
    margin-left:58px;
    font-size:24px;
}
.date{
    text-decoration: wavy;
    font-size:14px;
    color:#cecece;
    margin-left:15px;
    font-weight: 500;
}
.comment .content{
    font-size: 17px;
    color:hsl(0, 1%, 51%);
    padding: 5px;
    margin-left:58px;
}
.comment img{
    width:11%;
}
.border{
    border-bottom:1px rgb(212, 208, 208) dashed;
    padding:13px;
    margin-left:45px;
    margin-right: 45px;
}
.relatedposts{
    width: 60%;
    margin:20px 100px;
    background-color: white;
}
.pictures{
    text-align: center;
    margin: 10px;
    padding:0;
}
.pictures li{
    width: 40%;
    margin: 20px 5%;
    display: inline-block;
}
.pictures li img{
    max-width: 100%;
}
.relatedposts h2{
    text-align: center;
    text-decoration: underline 2px;
}
.leave{
    margin:20px;
}
.textarea{
    float:right;
    width:45%;
    height:155px;
    margin-right: 30px;
    margin-bottom:40px;
}
.username{
    float:left;
    width:40%;
    height:33px;
    margin-left:10px;
}
.email{
    float:left;
    width:40%;
    height: 33px;
    margin:10px
}
.button{
    background-color: hsl(12, 80%, 50%); 
    color:white; 
    width: 41%; 
    height: 48px; 
    border-color:white;
    font-family: calibri; 
    font-size: 15px; 
    border-radius:7px;
    margin:10px;
    font-weight: 550;
}
@media screen and (max-width: 900px){
    .pictures li{
        width: 46%;
    }


}
@media screen and (max-width: 744px){
    .textarea{
        width:44%;
    }
    .username{
        width:36%;
    }
    .email{
        width:36%
    }
    .button{
        width:38%
    }
}
@media screen and (max-width: 566px){
    .textarea{
        width:42%;
    }
    .username{
        width:33%;
    }
    .email{
        width:33%
    }
    .button{
        width:90%
    }
}
@media screen and (max-width:459px){
    .textarea{
        width:39%;
    }
    .username{
        width:30%;
    }
    .email{
        width:28%
    }
    .button{
        width:90%
    }
}
@media screen and (max-width:356px){
    .textarea{
        width:36%;
    }
    .username{
        width:26%;
    }
    .email{
        width:25%
    }
    .button{
        width:90%
    }
}
@media screen and (max-width: 307px){
    .textarea{
        width:33%;
    }
    .username{
        width:24%;
    }
    .email{
        width:23%
    }
    .button{
        width:90%
    }
}
