* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #d9d9d9;
    font-family: 'Oswald';

}

.icons {
    display: flex;
    align-items: center;
    font-size: 30px;
    margin: 50px;
    text-align: center;
    justify-content: center;
    color: black;


}

.icon {
    border-radius: 50%;
    background-color: #F5F5F5;
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    margin-left: 15px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;
    color: black;
    margin-bottom:20px;
}

.icon:before {
    top: 50%;
    position: absolute;
    margin-left: 0 !important;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon:hover {
    background-color: #fc7c57;
    color: white;
    transition: all 200ms linear;
    transform: scale(1);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1);
    z-index: 0;
}

.icon:active {
    transform: scale(1);
    -webkit-transform: scale(0.1);
    -moz-transform: scale(1);
    z-index: 0;

}
