.navbar {
    background-color: black;
    width: 100%;
    overflow: hidden;
}

.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.navbar a:hover {
    background-color: white;
    color: black;
}

.navbar a:active {
    background-color: green;
}

@media screen and (max-width: 600px) {
    .navbar a {
    float: none;
    display: block;
    }
    .navbar-right {
    float: none;
    display: block;
    }
}

@media screen and (min-width: 600px) {
.navbar-right {
    float: right;
}
}

.logo img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 15%;
    padding: 15px;
}