* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background-color: #d9d9d9;
  font-family: "Oswald";
}

.quotations {
  background-image: url("img/background.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 240px;
  display: flex;
  justify-content: center;
}

.quotations_text {
  margin-top: auto;
  margin-bottom: auto;
  text-shadow: 2px 2px 5px black;
}

.quotations_text_p {
  font-size: 36px;
  font-weight: 600;
  color: white;
  border-bottom: 4px solid #fc7c57;
}

.border {
  border-bottom: 1px rgb(212, 208, 208) dashed;
  padding: 13px;
  margin-left: 45px;
  margin-right: 45px;
}

.pictures {
  text-align: center;
  margin: 10px;
  padding: 0;
}

.pictures li {
  width: 40%;
  margin: 20px 5%;
  display: inline-block;
}

.pictures li img {
  max-width: 100%;
}

.image {
  position: relative;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 96%;
  margin: 10px 0px 0px 10px; /*zmiana*/
}

.image:hover {
  transform: scale(1);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1);
  z-index: 0;
  transition: all 100ms linear;
}

.footer1 {
  margin-top: 30px;
  border-top: 2px dotted gray;
}

.block {
  background-color: #f5f5f5;
  width: 90%;
  margin: 20px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-family: "Source Serif Pro";
}

.block:hover {
  transform: scale(1);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1);
  z-index: 0;
  transition: all 100ms linear;
}

.block-text {
  text-align: center;
  margin: 15px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.text4 {
  margin: 30px;
  font-family: "Source Serif Pro";
}

.text5 {
  margin: 30px;
}

.text6 {
  margin: 30px;
  font-family: "Source Serif Pro";
}

.text7 {
  margin: 30px;
}

.text8 {
  margin: 30px;
  font-family: "Source Serif Pro";
}

.minus {
  color: #fc7c57;
  border: 2px solid;
  height: 1px;
  width: 20px;
  background-color: #fc7c57;
  margin-bottom: 23px;
}

.icon {
  border-radius: 50%;
  background-color: #f5f5f5;
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-decoration: none;
  color: black;
}

.icon:before {
  top: 50%;
  position: absolute;
  margin-left: 0 !important;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon:hover {
  background-color: #fc7c57;
  color: white;
  transition: all 200ms linear;
  transform: scale(1);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1);
  z-index: 0;
}

.icon:active {
  transform: scale(1);
  -webkit-transform: scale(0.1);
  -moz-transform: scale(1);
  z-index: 0;
}

.orange {
  color: #fc7c57;
}

a {
  text-decoration: none;
  color: inherit;
}
